/* 
this selector styles all the content within
our about_the_data.html
*/
div.content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 13px;
    margin-right: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  