div.content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 13px;
    margin-right: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

option {
    background-color: #947fd5;
    color: #333;
    font-size: 16px;
    font-family: Arial, sans-serif;
  }
  