<html lang="en"> <!-- all pages start and end with this tag -->
<!-- Header information: links to external scripts and style files, other metadata about the page. -->

<head>
    <title>The Energy Shift</title>
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Work+Sans:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="../static/global.css" rel="stylesheet" />
    <link href="../static/the_data.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<!-- The body consists of the visible parts of the web page. -->

<body>
    <!-- the title of our project -->
    <div class="titlecontainer">
        <h1>The Energy Shift</h1>
    </div>

    <!-- The Nav bar -->
    <div class="navcontainer">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/theData">The Data</a></li>
                <li><a href="/aboutTheData">About the Data</a></li>
            </ul>
        </nav>
    </div>

    <div class="content">
        <form method="POST" name="statesForm">
            <!-- The options bar of states -->
            <div class="formcontent">
                <label for="states">Choose a state</label>
                <br>
                <select name="statesSelect" id="states">
                    <option value="AL" {% if selectedState=="AL" %} selected {% endif %}>
                        Alabama
                    </option>
                    <option value="AK" {% if selectedState=="AK" %} selected {% endif %}>
                        Alaska
                    </option>
                    <option value="AZ" {% if selectedState=="AZ" %} selected {% endif %}>
                        Arizona
                    </option>
                    <option value="AR" {% if selectedState=="AR" %} selected {% endif %}>
                        Arkansas
                    </option>
                    <option value="CA" {% if selectedState=="CA" %} selected {% endif %}>
                        California
                    </option>
                    <option value="CO" {% if selectedState=="CO" %} selected {% endif %}>
                        Colorado
                    </option>
                    <option value="CT" {% if selectedState=="CT" %} selected {% endif %}>
                        Connecticut
                    </option>
                    <option value="DE" {% if selectedState=="DE" %} selected {% endif %}>
                        Delaware
                    </option>
                    <option value="FL" {% if selectedState=="FL" %} selected {% endif %}>
                        Florida
                    </option>
                    <option value="GA" {% if selectedState=="GA" %} selected {% endif %}>
                        Georgia
                    </option>
                    <option value="HI" {% if selectedState=="HI" %} selected {% endif %}>
                        Hawaii
                    </option>
                    <option value="ID" {% if selectedState=="ID" %} selected {% endif %}>
                        Idaho
                    </option>
                    <option value="IL" {% if selectedState=="IL" %} selected {% endif %}>
                        Illinois
                    </option>
                    <option value="IN" {% if selectedState=="IN" %} selected {% endif %}>
                        Indiana
                    </option>
                    <option value="IA" {% if selectedState=="IA" %} selected {% endif %}>
                        Iowa
                    </option>
                    <option value="KS" {% if selectedState=="KS" %} selected {% endif %}>
                        Kansas
                    </option>
                    <option value="KY" {% if selectedState=="KY" %} selected {% endif %}>
                        Kentucky
                    </option>
                    <option value="LA" {% if selectedState=="LA" %} selected {% endif %}>
                        Louisiana
                    </option>
                    <option value="ME" {% if selectedState=="ME" %} selected {% endif %}>
                        Maine
                    </option>
                    <option value="MD" {% if selectedState=="MD" %} selected {% endif %}>
                        Maryland
                    </option>
                    <option value="MA" {% if selectedState=="MA" %} selected {% endif %}>
                        Massachusetts
                    </option>
                    <option value="MI" {% if selectedState=="MI" %} selected {% endif %}>
                        Michigan
                    </option>
                    <option value="MN" {% if selectedState=="MN" %} selected {% endif %}>
                        Minnesota
                    </option>
                    <option value="MS" {% if selectedState=="MS" %} selected {% endif %}>
                        Mississippi
                    </option>
                    <option value="MO" {% if selectedState=="MO" %} selected {% endif %}>
                        Missouri
                    </option>
                    <option value="MT" {% if selectedState=="MT" %} selected {% endif %}>
                        Montana
                    </option>
                    <option value="NE" {% if selectedState=="NE" %} selected {% endif %}>
                        Nebraska
                    </option>
                    <option value="NV" {% if selectedState=="NV" %} selected {% endif %}>
                        Nevada
                    </option>
                    <option value="NH" {% if selectedState=="NH" %} selected {% endif %}>
                        New Hampshire
                    </option>
                    <option value="NJ" {% if selectedState=="NJ" %} selected {% endif %}>
                        New Jersey
                    </option>
                    <option value="NM" {% if selectedState=="NM" %} selected {% endif %}>
                        New Mexico
                    </option>
                    <option value="NY" {% if selectedState=="NY" %} selected {% endif %}>
                        New York
                    </option>
                    <option value="NC" {% if selectedState=="NC" %} selected {% endif %}>
                        North Carolina
                    </option>
                    <option value="ND" {% if selectedState=="ND" %} selected {% endif %}>
                        North Dakota
                    </option>
                    <option value="OH" {% if selectedState=="OH" %} selected {% endif %}>
                        Ohio
                    </option>
                    <option value="OK" {% if selectedState=="OK" %} selected {% endif %}>
                        Oklahoma
                    </option>
                    <option value="OR" {% if selectedState=="OR" %} selected {% endif %}>
                        Oregon
                    </option>
                    <option value="PA" {% if selectedState=="PA" %} selected {% endif %}>
                        Pennsylvania
                    </option>
                    <option value="RI" {% if selectedState=="RI" %} selected {% endif %}>
                        Rhode Island
                    </option>
                    <option value="SC" {% if selectedState=="SC" %} selected {% endif %}>
                        South Carolina
                    </option>
                    <option value="SD" {% if selectedState=="SD" %} selected {% endif %}>
                        South Dakota
                    </option>
                    <option value="TN" {% if selectedState=="TN" %} selected {% endif %}>
                        Tennessee
                    </option>
                    <option value="TX" {% if selectedState=="TX" %} selected {% endif %}>
                        Texas
                    </option>
                    <option value="UT" {% if selectedState=="UT" %} selected {% endif %}>
                        Utah
                    </option>
                    <option value="VT" {% if selectedState=="VT" %} selected {% endif %}>
                        Vermont
                    </option>
                    <option value="VA" {% if selectedState=="VA" %} selected {% endif %}>
                        Virginia
                    </option>
                    <option value="WA" {% if selectedState=="WA" %} selected {% endif %}>
                        Washington
                    </option>
                    <option value="WV" {% if selectedState=="WV" %} selected {% endif %}>
                        West Virginia
                    </option>
                    <option value="WI" {% if selectedState=="WI" %} selected {% endif %}>
                        Wisconsin
                    </option>
                    <option value="WY" {% if selectedState=="WY" %} selected {% endif %}>
                        Wyoming
                    </option>
                </select>
                <input type="submit" value="Go" >
            </div>

        </form>
        <!-- The result according to the selected option -->
        {% if selectedState != None %}
        <h2>Total Annual Output:</h2>
        <h3>{{ totalEnergy }}<br>Megawatt Hours</h3>
        <h2>Total Annual <em>Renewable</em> Output</h2>
        <h3>{{ totalRenewableEnergy }}<br>Megawatt Hours</h3>
        <div class="resultsContainer">
            <h2>Total Renewable Energy Use:</h2>
            <!-- Line chart for the results from getRenewableEnergyForState() generated with the Chart.js package -->
            <div class="renewableEnergyLineChartContainer">
                <canvas id="renewableEnergyLineChartCanvas"></canvas>
            </div>
        </div>

        <script>
            /* A line chart generated with the Chart.js package */
            // let renewableEnergyLineChart = 0
            //Insert the line chart into the HTML at one of the canvas tags
           
            let renewableEnergyLineChartCanvas = document.getElementById("renewableEnergyLineChartCanvas");
            // let renewableEnergyLineChartCtx = renewableEnergyLineChartCanvas.getContext('2d');
    
            //Data for chart
            let renewableEnergyLineChartData = [3166.79, 2317.7, 3447.83, 3489.79, 3338.46, 3235.11, 3375.9, 3477.93, 3236.92, 3356.97, 3425.45, 4090.41];
    
            //Font styling for chart
            Chart.defaults.font.size = 21
            Chart.defaults.font.family = "Montserrat"
            
    
            //Line chart for the results of the getRenewableEnergyForState() function
            let renewableEnergyLineChart = new Chart(renewableEnergyLineChartCanvas, {
                    type: 'line',
                    //Defines the line on the chart and its styling
                    data: {
                        labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                        datasets: [{
                            label: 'Total Renewable Energy Usage for Colorado in 2021 (thousand megawatt hours)',
                            data: [3166.79, 2317.7, 3447.83, 3489.79, 3338.46, 3235.11, 3375.9, 3477.93, 3236.92, 3356.97, 3425.45, 4090.41],
                            borderWidth: 5,
                            backgroundColor: "#ea5147",
                            borderColor: "#ea5147"
                        }]
                    },
                    //Labels axes
                    options: {
                        scales: {
                            y: {
                                title: {
                                    display: true,
                                    text: "Thousand Megawatt Hours"
                                }
                            }
                        }
                    }
                });
                

            function updateCanvas() {
                // renewableEnergyLineChart.data = [100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100];
                // renewableEnergyLineChart.update();

                addData(renewableEnergyLineChart, "foo", 100)
            // function clearCanvas() {
            //     if (renewableEnergyLineChart != 0) {
            //         renewableEnergyLineChart.destroy();
            //         renewableEnergyLineChart = 0;
            //     }
            // }
            }

            function addData(chart, label, data) {
                chart.data.labels.push(label);
                chart.data.datasets.forEach((dataset) => {
                dataset.data.push(data);
            });
                chart.update();
            }

            updateCanvas();
        </script>
    
        {% endif %}

    </div>


</body>

</html>