<html lang="en"> <!-- all pages start and end with this tag -->
<!-- Header information: links to external scripts and style files, other metadata about the page. -->

<head>
    <title>The Energy Shift</title>
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Work+Sans:700" rel="stylesheet">
    <link href="../static/global.css" rel="stylesheet" />
    <link href="../static/the_data.css" rel="stylesheet" />
</head>
<!-- The body consists of the visible parts of the web page. -->

<body>
     <!-- the title of our project -->
    <div class="titlecontainer">
        <h1>The Energy Shift</h1>
    </div>

    <!-- The Nav bar -->
    <div class="navcontainer">
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="#the_data.html">The Data</a></li>
                <li><a href="about_the_data.html">About the Data</a></li>
            </ul>
        </nav>
    </div>

    <div class="content">
        <form>
             <!-- The options bar of states -->
            <div class="formcontent">
                <label for="states">Choose a state</label>
                <br>
                <select name="states" id="states">
                    <option value="Alabama">Alabama</option>
                    <option value="Alaska">Alaska</option>
                    <option value="Arizona">Arizona</option>
                    <option value="Arkansas">Arkansas</option>
                    <option value="California">California
                    <option value="Colorado">Colorado</option>
                    <option value="Connecticut">Connecticut</option>
                    <option value="Delaware">Delaware</option>
                    <option value="Florida">Florida</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Hawaii">Hawaii</option>
                    <option value="Idaho">Idaho</option>
                    <option value="Illinois">Illinois</option>
                    <option value="Indiana">Indiana</option>
                    <option value="Iowa">Iowa</option>
                    <option value="Kansas">Kansas</option>
                    <option value="Kentucky">Kentucky</option>
                    <option value="Louisiana"> Louisiana </option>
                    <option value="Maine">Maine</option>
                    <option value="Maryland">Maryland</option>
                    <option value="Massachusetts">Massachusetts</option>
                    <option value="Michigan">Michigan</option>
                    <option value="Minnesota">Minnesota</option>
                    <option value="Mississippi">Mississippi</option>
                    <option value="Missouri">Missouri</option>
                    <option value="Montana">Montana</option>
                    <option value="Nebraska">Nebraska</option>
                    <option value="Nevada">Nevada</option>
                    <option value="New Hampshire">New Hampshire</option>
                    <option value="New Jersey">New Jersey</option>
                    <option value="New Mexico">New Mexico</option>
                    <option value="New York">New York</option>
                    <option value="North Carolina">North Carolina</option>
                    <option value="North Carolina">North Dakota</option>
                    <option value="Ohio">Ohio</option>
                    <option value="Oklahoma">Oklahoma</option>
                    <option value="Oregon">Oregon</option>
                    <option value="Pennsylvania">Pennsylvania</option>
                    <option value="Rhode Island">Rhode Island</option>
                    <option value="South Carolina">South Carolina</option>
                    <option value="South Dakota">South Dakota</option>
                    <option value="Tennessee">Tennessee</option>
                    <option value="Texas">Texas</option>
                    <option value="Utah">Utah</option>
                    <option value="Vermont">Vermont</option>
                    <option value="Virginia">Virginia</option>
                    <option value="Washington">Washington</option>
                    <option value="West Virginia">West Virginia</option>
                    <option value="Wisconsin">Wisconsin</option>
                    <option value="Wyoming">Wyoming</option>
                </select>
            </div>
        </form>
        <!-- The result according to the selected option -->
        <p>Results from queries will go here!</p>

    </div>

</body>

</html>