<html lang="en"> <!-- all pages start and end with this tag -->
<!-- Header information: links to external scripts and style files, other metadata about the page. -->

<head>
    <title>The Energy Shift</title>
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Work+Sans:700" rel="stylesheet">
    <link href="../static/global.css" rel="stylesheet" />
    <link href="../static/the_data.css" rel="stylesheet" />
</head>
<!-- The body consists of the visible parts of the web page. -->

<body>
    <!-- the title of our project -->
    <div class="titlecontainer">
        <h1>The Energy Shift</h1>
    </div>

    <!-- The Nav bar -->
    <div class="navcontainer">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/theData">The Data</a></li>
                <li><a href="/aboutTheData">About the Data</a></li>
            </ul>
        </nav>
    </div>

    <div class="content">
        <form method="POST" name="statesForm">
            <!-- The options bar of states -->
            <div class="formcontent">
                <label for="states">Choose a state</label>
                <br>
                <select name="statesSelect" id="states">
                    <option value="Select a State">Select a State</option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DE"
                    {% if result == "DE" %} selected {% endif %}
                    >
                    Delaware
                    </option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA"> Louisiana </option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="MT">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                </select>
            </div>
            <input type="submit" value="Submit">
        </form>
        <!-- The result according to the selected option -->
        {% if result != None %}
            <p>Showing results for {{ result }} </p>
            <p> {{ totalEnergy }} </p>
        {% endif %}
        <script src="../static/the_data.js""></script>

    </div>

</body>

</html>